extends layout

block content
  h1= title
  p Welcome to FoodList!

  if error
    p Error getting dynamic content.
  else
    p The library has #{data} listed ingredients

    p Use the menu link on the side bar for a complete list of pairings, or select a letter below to begin your search.
    - let classText = 'btn btn-default btn-circle letterSearch';
    a(href='/catalog/ingredients/a' class=classText) A
    a(href='/catalog/ingredients/b' class=classText) B
    a(href='/catalog/ingredients/c' class=classText) C
    a(href='/catalog/ingredients/d' class=classText) D
    a(href='/catalog/ingredients/e' class=classText) E
    a(href='/catalog/ingredients/f' class=classText) F
    a(href='/catalog/ingredients/g' class=classText) G
    a(href='/catalog/ingredients/h' class=classText) H
    a(href='/catalog/ingredients/i' class=classText) I
    br
    a(href='/catalog/ingredients/j' class=classText) J
    a(href='/catalog/ingredients/k' class=classText) K
    a(href='/catalog/ingredients/l' class=classText) L
    a(href='/catalog/ingredients/m' class=classText) M
    a(href='/catalog/ingredients/n' class=classText) N
    a(href='/catalog/ingredients/o' class=classText) O
    a(href='/catalog/ingredients/p' class=classText) P
    a(href='/catalog/ingredients/q' class=classText) Q
    br
    a(href='/catalog/ingredients/r' class=classText) R
    a(href='/catalog/ingredients/s' class=classText) S
    a(href='/catalog/ingredients/t' class=classText) T
    a(href='/catalog/ingredients/u' class=classText) U
    a(href='/catalog/ingredients/v' class=classText) V
    a(href='/catalog/ingredients/w' class=classText) W
    a(href='/catalog/ingredients/x' class=classText) X
    a(href='/catalog/ingredients/y' class=classText) Y
    a(href='/catalog/ingredients/z' class=classText) Z
