extends layout

block content
  if ingredient
    - let ingredientTitle = ingredient.displayName ? ingredient.displayName : ingredient.name;
    h1 Ingredient Details: #{ingredientTitle}
    if ingredient.category
      - let category_url = '/catalog/category/' + ingredient.category;
      a(href=category_url) Click here to see all #{ingredient.category}

    if ingredient.seeAlso.length
      span See also
        each also in ingredient.seeAlso
          - let seeAlsoLink = 'catalog/ingredient/' + also.ingredient.split(' ').join('');
          - let seeAlsoName = also.plainName ? also.plainName : also.ingredient;
          a(href=seeAlsoLink)  #{seeAlsoName}
          |,

    if ingredient.taste
      p #[strong Taste:] #{ingredient.taste}
    if ingredient.season
      p #[strong Season:] #{ingredient.season}
    if ingredient.function
      p #[strong Function:] #{ingredient.function}
    if ingredient.weight
      p #[strong Weight:] #{ingredient.weight}
    if ingredient.volume
      p #[strong Volume:] #{ingredient.volume}
    if ingredient.techniques
      p #[strong Techniques:] #{ingredient.techniques}
    if ingredient.tips
      p #[strong Tips:] #{ingredient.tips}
    if ingredient.affinities.length
      span #[strong Affinities:]
      each affinity in ingredient.affinities
        p #{affinity}
    
    div(style='margin-top:20px')
      h4 Pairings
      
      if ingredient.pairings.length
        each val in ingredient.pairings
          if val.deadLink
            span #{val.pairing}
            br
          else
            - let ingredient_url = '';
            if val.categoryLink
              - ingredient_url = '/catalog/category/' + val.pairing.split(' ').join('');
            else
              - ingredient_url = '/catalog/ingredient/' + val.pairing.split(' ').join('');
            - let ingredientName = val.displayName ? val.displayName : val.pairing;
            if val.strength
              if val.strength == 1
                a(href=ingredient_url)
                  strong #{ingredientName}
                br
              else if val.strength == 2
                a(href=ingredient_url)
                  - let pairingString = ingredientName.toUpperCase() 
                  strong #{pairingString}
                br
              else if val.strength == 3
                a(href=ingredient_url)
                  - let pairingString = '*' + ingredientName.toUpperCase() 
                  strong #{pairingString}
                br
            else
              a(href=ingredient_url) #{ingredientName}
              br
     
        else
          p There are no pairings for that ingredient.
      else
        p There are no pairings for that ingredient.
    if ingredient.avoid.length
      br
      span #[strong AVOID:]
      each bad_pairing in ingredient.avoid
        p #{bad_pairing}
  else
    p The selected ingredient was not found.